@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family:'NanumBarunGothic', sans-serif; color:white;
	cursor: default;	/* 커서 변함 방지 */
	user-select: none;	/* 드래그 방지 */
}
div{ box-sizing: border-box;}		/* border값 포함 width */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*+++++++초기화 끝+++++++*/

.select-wrapper{display:none}

h1{letter-spacing: 110px;}	/* 2.2(font-size) */
h3{letter-spacing: 1.6px;}	/* 0.05(font-size) */

body{background-color: #121523;}

#wrapper{
	width: 1280px;
	height: 100vh;
	margin: 0 auto;
	overflow: hidden;
}


/*+++++++임의의 별 애니메이션 Start+++++++++*/
.stars-wrapper{
	width:100%;
	height:100%;
	overflow: hidden;
	top:0; left:0;
	position:absolute;
	z-index: -1;
}
.stars{width:100%; height:100vh; position: absolute; top:0; left:0; opacity:0;
-ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}
.stars-animation{
	animation: stars 9s linear infinite;
}
.stars-animation-two{
	animation: stars 11s linear infinite;
	animation-delay: 3s;
}
.stars-animation-three{
	animation: stars 9s linear infinite;
	animation-delay: 3s;
}
@keyframes stars{
	0%{
		opacity:0;
		transform: scale(0);
	}
	20%{
		opacity:0.5;
	}
	50%{
		opacity:0.7;
	}
	100%{
		opacity:0;
		transform: scale(3);
	}
}



/*+++++첫 화면++++++*/
.title{
	position: relative;
	z-index: 2;
	margin:0 auto;
	height: 19vh;
	display: table;
}
.title-align{display: table-cell;vertical-align: bottom;}
.title h1, h3{text-align: center;}
.title h1{margin-left: 110px;}		/* 글씨 오른쪽 자간때문에 */
.contents{
	position: relative;
	width: 1280px;
	height: 62vh;
	display: table;
}
.contents-align{
	display: table-cell; 
	vertical-align: middle;
}
.bg-circle{
	margin:0 auto;
	width: 492px;
	height: 492px;
	background-image: url("../images/bg_circle01.svg");
	animation: circle01 38s linear infinite
}
.bg-circle02{		/* 작은원 : 390px */
	position: absolute;
	top:0; left:0;
	width: 492px;
	height: 492px;
	background-image: url("../images/bg_circle02.svg");
	animation: circle02 48s linear infinite;
}
@keyframes circle01{
	0%{transform: rotate(0)}
	50%{transform: rotate(180deg)}
	100%{transform: rotate(360deg)}
}
@keyframes circle02{
	0%{transform: rotate(0)}
	50%{transform: rotate(-180deg)}
	100%{transform: rotate(-360deg)}
}
.question{
	position: relative;
	width: 492px;			/* 작은 원의 사이즈를 알아내서 그만큼을 width,height ; 큰원과의 차 만큼 margin */
	height: 492px;
	text-align: center;
	display: table;
	margin: 0 auto;
	margin-top: -492px;
	line-height: 60px;
	letter-spacing: 2px;
}
.question span{
	display: table-cell;
	vertical-align: middle;
}
.aside{
	width: 1280px;
	height: 19vh;
	text-align: center;
	margin:0 auto;
	letter-spacing: 1.2px;
	line-height: 40px;
}


/*++++++++++++답변부분 +++++++++*/
.answer{
	width: 1280px;
	height: auto;
	position: absolute;
	top: 250px;
	display: table;
}
.answer>div{
	width: 30%;
	display: inline-block;
	vertical-align: middle;
	margin-top: -2%;
	text-align: center;
}
.answer-first{
	margin-right: 40%;
}
.answer-first .answer-content{
	display: inline-block;
	padding-right: 20px;
	border-right: 1px solid white;
}
.answer-second .answer-content{
	display: inline-block;
	padding-left: 20px;
	border-left: 1px solid white;
}